doctype html
html
  head
    title= "Keda"
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css",  rel="stylesheet")
    link(type="text/css", href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css",  rel="stylesheet")
    link(type="text/css", href="https://code.jquery.com/ui/1.13.2/themes/ui-lightness/jquery-ui.css",  rel="stylesheet")
    link(type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.14.0/jquery.timepicker.min.css",  rel="stylesheet")
    link(type="text/css", href="https://trentrichardson.com/examples/timepicker/jquery-ui-timepicker-addon.css",  rel="stylesheet")
  body
    block content
